@model ReviewApp.Model.Show

@{
    ViewData["Title"] = "Create";
    var pattern = System.Threading.Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern.ToLower();
    pattern = pattern.Replace("DD", "D").Replace("D", "DD");
    pattern = pattern.Replace("MM", "M").Replace("M", "MM");
}

<h2>Add a new Show!</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_CreateOrEdit" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
