@model ReviewApp.Model.Show

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Show</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <partial name="_CreateOrEdit" />
        </form>
    </div>

    <div class="col-md-6">
        <label>Add a Title card</label>
        <form id="picture" asp-controller="Show" asp-action="UploadPicture" asp-route-movieId="@Model.ID" enctype="multipart/form-data" class="dropzone" multiple></form>
        <label>Add a Background picture</label>
        <form id="background" asp-controller="Show" asp-action="UploadBackground" asp-route-movieId="@Model.ID" enctype="multipart/form-data" class="dropzone"></form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link rel="stylesheet" href="~/lib/dropzone-5.7.0/dist/dropzone.css" />
    <script src="~/lib/dropzone-5.7.0/dist/dropzone.js"></script>
    <script>
        Dropzone.options.picture =
            {
                success: function (file, response) {
                    console.log({ file, response });
                }
            };

    </script>

}